{% extends 'blog/base.html' %}
{% block title%}
<h1>All posts: {{ category }}</h1>
{% endblock %}
{% block content %}
{% for cat_post in category_post %}
<div class="post">
    <h3>Title: {{ cat_post.title }}</h3>
    <h3>Category: {{ cat_post.category }}</h3>
    <h3>Author: {{ cat_post.author }}</h3>
    <div class="date">
        <p>Date: {{ cat_post.post_time }}</p>
    </div>
    <h4><a href="{% url 'post_detail' pk=cat_post.pk %}">Review</a></h4>
</div>
{% endfor %}
<div>
<h1><a href="{% url 'post_list'%}">Show All Posts</a></h1>
</div>
{% endblock %}
