{% extends 'blog/base.html' %}
{% block title %}
<h1>Post Details</h1>
{% endblock %}

{% block content %}
<div>
  <h5><a href="{% url 'post_list'%}"><-Return</a></h5>
</div>
  <div class="post">
    <h1 class="post_name">{{ post.title }}</h1>
    <h2>{{ post.category }}</h2>
    <h3><p>{{ post.text }}</p></h3>
    <h4>{{ post.author }}</h4>
    {% if post.post_time %}
      <div class="date">
          {{ post.post_time }}
      </div>
    {% endif %}
  </div>
{% endblock %}
