{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h3>Title: {{ post.title }}</h3>
            <h3><a href="{% url 'category_list' pk=post.category.id %}">Category: {{ post.category }}</a></h3>
            <h3>Author: {{ post.author }}</h3>
            <div class="date">
                <p>Date: {{ post.post_time }}</p>
            </div>
            <h4><a href="{% url 'post_detail' pk=post.pk %}">Review</a></h4>
        </div>
    {% endfor %}
{% endblock %}
